:host {
  display: block;
  margin-bottom: 11rem;
  padding-inline: var(--padding-inline-mobile);
}

img {
  height: 20.937rem;
  margin-bottom: 2.3rem;
  order: 1;
}

h1 {
  color: var(--color-neutral-very-dark-violet);
  font-size: 2.7rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 1.15;
  margin-bottom: 0.6rem;
}

p {
  color: var(--color-neutral-grayish-violet);
  font-size: 1.125rem;
  line-height: 1.65;
  margin-bottom: 1.8rem;
}

a {
  background-color: var(--color-primary-cyan);
  font-weight: 700;
}

@media (min-width: 80rem) {
  :host {
    padding-inline: var(--padding-inline-desktop) 0;
    display: flex;
    gap: 6.2rem;
    margin-bottom: 7.2rem;
    text-align: left;
  }

  img {
    height: auto;
  }

  .text {
    flex-shrink: 0;
    margin-top: 4.4rem;
    width: 35.312rem;
  }

  h1 {
    font-size: 4.9rem;
    margin: 0;
  }

  p {
    font-size: 1.35rem;
    margin-bottom: 2.15rem;
  }
}
