<img class="logo" src="../../assets/images/logo.svg" alt="Logo" />
<ul class="links">
  <li *ngFor="let linksSection of links" class="links-section">
    <span class="title">{{ linksSection.title }}</span>
    <ul>
      <li *ngFor="let link of linksSection.links" class="link-li">
        <a class="link">{{ link }}</a>
      </li>
    </ul>
  </li>
</ul>
<ul class="social-icons">
  <li *ngFor="let icon of socialIcons">
    <a mat-icon-button class="icon-a">
      <img [src]="'../../assets/images/icon-' + icon + '.svg'" [alt]="icon" />
    </a>
  </li>
</ul>
