<img class="logo" src="../../assets/images/logo.svg" alt="Logo" />
<ul>
  <li *ngFor="let linksSection of links" class="links-section">
    <span class="title">{{ linksSection.title }}</span>
    <ul>
      <li *ngFor="let link of linksSection.links" class="link-li">
        <a class="link">{{ link }}</a>
      </li>
    </ul>
  </li>
</ul>
<ul class="social-icons">
  <li *ngFor="let icon of socialIcons">
    <a mat-icon-button>
      <!-- <mat-icon [svgIcon]="icon"></mat-icon> -->
      <div class="icon-wrapper">
        <img [src]="'../../assets/images/icon-' + icon + '.svg'" [alt]="icon" />
      </div>
    </a>
  </li>
</ul>
