<div *ngrxLet="width$ as width" class="container" [ngClass]="width">
  <img
    alt="Logo"
    class="logo"
    height="33"
    src="../../assets/images/logo-footer.svg"
    width="121"
  />
  <nav>
    <ul class="categories">
      <li *ngFor="let category of links" [ngClass]="category.heading">
        <h2>{{ category.heading }}</h2>
        <ul class="category-links">
          <li *ngFor="let link of category.links">
            <a>{{ link }}</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="icons">
      <li>
        <a>
          <app-facebook></app-facebook>
        </a>
      </li>
      <li>
        <a>
          <app-twitter></app-twitter>
        </a>
      </li>
      <li>
        <a>
          <app-pinterest></app-pinterest>
        </a>
      </li>
      <li>
        <a>
          <app-instagram></app-instagram>
        </a>
      </li>
    </ul>
  </nav>
</div>
