h2 {
  color: var(--color-neutral-very-dark-violet);
  font-size: 1.65rem;
  margin-bottom: 1.2rem;
}

p {
  color: var(--color-neutral-grayish-violet);
  line-height: 1.7;
  margin-bottom: 5.9rem;
}

ul {
  list-style-type: none;
}
