header {
  margin-bottom: 0.7rem;
  padding-top: 1.8rem;
}

.middle {
  background-color: #f0f1f6;
  padding: 0 var(--padding-inline-mobile) 5rem;
}

@media (min-width: 80rem) {
  header {
    padding-top: 2.45rem;
  }

  .middle {
    padding-inline: var(--padding-inline-desktop);
  }
}
