.mobile form {
  background-image: url(../../../../assets/images/bg-shorten-mobile.svg);
  padding: 1.5rem;
}

.mobile .input {
  margin-bottom: 1rem;
}

.mobile .ng-invalid.ng-submitted .input::after {
  font-size: 0.75rem;
  letter-spacing: 0.08px;
  line-height: 150%;
  margin-top: 4px;
}

.mobile input {
  border-radius: 5px;
  height: 3rem;
  padding-left: 1rem;
  width: 100%;
}

.mobile input::placeholder {
  letter-spacing: 0.12px;
}

.mobile .shorten-button {
  border-radius: 5px;
  font-size: 1.12rem;
  height: 3rem;
  width: 100%;
}

.mobile ul {
  gap: 1.5rem;
}

.mobile .original {
  align-items: center;
  display: flex;
  height: 3rem;
  letter-spacing: 0.12px;
  padding-left: 1rem;
}

.mobile hr {
  height: 1px;
  border: none;
  background: #9e9aa8;
}

.mobile .shortened {
  padding: 6px 1rem 1rem;
}

.mobile .short {
  display: block;
  letter-spacing: 0.12px;
  line-height: 225%;
  margin-bottom: 8px;
}

.mobile .copy-button {
  width: 100%;
}
