<form [formGroup]="form" (ngSubmit)="onShorten()">
  <section class="shorten">
    <div class="dark-violet-red-form-field">
      <mat-form-field hideRequiredMarker>
        <mat-label class="label">Shorten a link here...</mat-label>
        <input matInput formControlName="originalLink" type="text" />
        <mat-error>Please add a link</mat-error>
      </mat-form-field>
    </div>
    <div class="cyan-button">
      <button class="button" mat-flat-button color="primary" type="submit">
        Shorten It!
      </button>
    </div>
  </section>
</form>
<app-links></app-links>
