<ng-container
  *ngIf="{ copied: copied$ | async, links: links$ | async } as observables"
>
  <form [formGroup]="form" (ngSubmit)="onShorten()">
    <section class="shorten">
      <div class="dark-violet-red">
        <mat-form-field hideRequiredMarker>
          <mat-label class="label">Shorten a link here...</mat-label>
          <input matInput formControlName="originalLink" type="text" />
          <mat-error>Please add a link</mat-error>
        </mat-form-field>
      </div>
      <div class="cyan">
        <button class="shorten-button" mat-flat-button color="primary">
          Shorten It!
        </button>
      </div>
    </section>
    <section class="links">
      <ul>
        <li *ngFor="let link of observables.links; let i = index">
          <span class="original">{{ link.originalLink }}</span>
          <mat-divider></mat-divider>
          <span class="short">{{ link.shortLink }}</span>
          <button
            mat-flat-button
            type="button"
            [cdkCopyToClipboard]="link.shortLink"
            (click)="onCopy(i)"
          >
            {{ i === observables.copied ? "Copied" : "Copy" }}
          </button>
        </li>
      </ul>
    </section>
  </form>
</ng-container>
