.more {
  background-position: right top;
  background-repeat: no-repeat;
}

h1 {
  color: #34313d;
}

p {
  color: #9e9aa8;
}

.shorten {
  background: #eff1f7;
}

app-shorten {
  transform: translateY(-5rem);
}
