.more {
  background-position: right top;
  background-repeat: no-repeat;
}

h2 {
  color: #34313d;
}

p {
  color: #9e9aa8;
}

.shorten {
  background: #eff1f7;
}

h1 {
  color: #34313d;
}

ul {
  display: flex;
  list-style: none;
  position: relative;
}

ul::after {
  align-self: center;
  background: #2bd0d0;
  content: "";
  position: absolute;
}

li {
  background: #fff;
  border-radius: 5px;
  padding: 0 2rem 2.56rem;
  z-index: 2;
}

.feature-icon {
  margin-block: -2.75rem 2.06rem;
}

.feature-heading {
  font-size: 1.37rem;
  margin-bottom: 12px;
}

.feature-text {
  font-size: 0.94rem;
  line-height: 173.33%;
}

.boost {
  align-items: center;
  background-color: #3a3054;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.boost-heading {
  color: #fff;
}
