.more {
  background-position: right top;
  background-repeat: no-repeat;
}

h2 {
  color: #34313d;
}

p {
  color: #9e9aa8;
}

.shorten {
  background: #eff1f7;
}

h1 {
  color: #34313d;
}

ul {
  list-style: none;
}

li {
  background: #fff;
  border-radius: 5px;
  padding: 0 2rem 2.56rem;
}

.feature-icon {
  margin-block: -2.75rem 2.06rem;
}

.feature-heading {
  font-size: 1.37rem;
  margin-bottom: 12px;
}

.feature-text {
  font-size: 0.94rem;
}
