.mobile {
  text-align: center;
}

.mobile .more {
  background-image: url(../../../assets/images/cloud-mobile.svg);
  padding: 2.75rem 1.5rem 10.5rem;
}

.mobile .working {
  display: block;
  margin-bottom: 3.81rem;
}

.mobile .text {
  text-align: center;
}

.mobile .more-heading {
  font-size: 2.62rem;
  letter-spacing: -1.05px;
  line-height: 114.29%;
  margin-bottom: 15px;
}

.mobile .more-text {
  font-size: 1.12rem;
  letter-spacing: 0.12px;
  line-height: 166.67%;
  margin-bottom: 2rem;
}

.mobile .shorten {
  padding: 0 1.5rem 5rem;
}

.mobile app-shorten {
  transform: translateY(-5rem);
}

.mobile h1 {
  font-size: 1.75rem;
  letter-spacing: -0.7px;
  line-height: 171.43%;
  margin-bottom: 1rem;
}

.mobile .statistics-text {
  letter-spacing: 0.11px;
  line-height: 175%;
  margin-bottom: 5.75rem;
}

.mobile ul {
  display: flex;
  flex-direction: column;
  gap: 5.75rem;
}

.mobile ul::after {
  align-self: center;
  height: 100%;
  width: 8px;
}

.mobile .feature-text {
  line-height: 173.33%;
}

.mobile .boost {
  background-image: url(../../../assets/images/bg-boost-mobile.svg);
  gap: 1rem;
  height: 18.75rem;
}

.mobile .boost-heading {
  font-size: 1.75rem;
  letter-spacing: -0.7px;
  line-height: 171.43%;
}
