/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

html {
  --color-primary-cyan: hsl(180, 66%, 49%);
  --color-primary-dark-violet: hsl(258, 27%, 26%);

  --color-secondary-red: hsl(0, 87%, 67%);

  --color-neutral-gray: hsl(0, 0%, 75%);
  --color-neutral-grayish-violet: hsl(257, 7%, 63%);
  --color-neutral-very-dark-blue: hsl(255, 11%, 22%);
  --color-neutral-very-dark-violet: hsl(260, 8%, 14%);

  --padding-inline-mobile: 6.667vw;
  --padding-inline-desktop: 11.458vw;

  overflow-x: hidden;
}

body {
  font-family: "Poppins", Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-align: center;
}
